-------------------------------------------
Time: 2015-09-10 14:56:37
-------------------------------------------
()
-------------------------------------------
Time: 2015-09-10 14:56:38
-------------------------------------------
()
-------------------------------------------
Time: 2015-09-10 14:56:39
-------------------------------------------
()
-------------------------------------------
Time: 2015-09-10 14:56:40
-------------------------------------------
{"method":"HEAD","path":"/","format":"*/*","controller":"home","action":"index","status":200,"duration":4.39,"db":0.0,"ip":"54.248.250.232","route":"home#index","request_id":"891ac6d9-2f51-411a-92b1-5b4d3a51d6b6","parameters":{},"current_user_id":null,"current_admin_id":null,"hostname":"10-10-13-235","referer":null,"user_agent":"NewRelicPinger/1.0 (776462)","source":"bzfun","tags":["request","bzfun","web"],"@timestamp":"2015-09-10T06:15:23.688Z","@version":"1","host":"d3a7f9b60ed3","type":"web"}
{"method":"GET","path":"/banners.json","format":"json","controller":"banners","action":"index","status":200,"duration":71.8,"view":63.75,"db":5.35,"ip":"180.168.34.222","route":"banners#index","request_id":"57dea5e3-64c4-43bd-aff7-b4e9c45f3c2c","parameters":{},"current_user_id":null,"current_admin_id":null,"hostname":"10-10-13-235","referer":null,"user_agent":"BaoZouTVHD/1.0 (iPad Simulator; iOS 8.4; Scale/2.00)","source":"bzfun","tags":["request","bzfun","web"],"@timestamp":"2015-09-10T06:15:26.510Z","@version":"1","host":"d3a7f9b60ed3","type":"web"}
{"method":"GET","path":"/admin/series","format":"*/*","controller":"admin/series","action":"index","status":302,"duration":2.5,"db":0.0,"location":"http://bao.tv/admin/session/new","ip":"101.226.65.108","route":"admin/series#index","request_id":"fcbc95fa-a6f6-4887-8886-3773d79db6ef","parameters":{"utf8":"a??","search":"?????????"},"current_user_id":null,"current_admin_id":null,"hostname":"10-10-13-235","referer":"http://bao.tv/admin/series?utf8=%E2%9C%93&search=%E8%94%A1%E5%8D%93%E5%A6%8D","user_agent":"Mozilla/5.0 (Linux; U; Android 4.4.2; zh-cn; GT-I9500 Build/KOT49H) AppleWebKit/537.36 (KHTML, like Gecko)Version/4.0 MQQBrowser/5.0 QQ-Manager Mobile Safari/537.36","source":"bzfun","tags":["request","bzfun","web"],"@timestamp":"2015-09-10T06:15:38.797Z","@version":"1","host":"d3a7f9b60ed3","type":"web"}
{"method":"GET","path":"/admin/session/new","format":"*/*","controller":"admin/sessions","action":"new","status":200,"duration":4.58,"view":2.75,"db":0.0,"ip":"101.226.65.108","route":"admin/sessions#new","request_id":"0078bf98-9030-4dc7-b8fe-486668da3310","parameters":{},"current_user_id":null,"current_admin_id":null,"hostname":"10-10-13-235","referer":"http://bao.tv/admin/series?utf8=%E2%9C%93&search=%E8%94%A1%E5%8D%93%E5%A6%8D","user_agent":"Mozilla/5.0 (Linux; U; Android 4.4.2; zh-cn; GT-I9500 Build/KOT49H) AppleWebKit/537.36 (KHTML, like Gecko)Version/4.0 MQQBrowser/5.0 QQ-Manager Mobile Safari/537.36","source":"bzfun","tags":["request","bzfun","web"],"@timestamp":"2015-09-10T06:15:38.875Z","@version":"1","host":"d3a7f9b60ed3","type":"web"}
{"method":"GET","path":"/ad.html","format":"html","controller":"home","action":"ad","status":200,"duration":5.32,"view":4.55,"db":0.0,"ip":"118.253.171.154","route":"home#ad","request_id":"5e79d48b-676c-4f89-8c37-4f989b96958b","parameters":{},"current_user_id":null,"current_admin_id":null,"hostname":"10-10-13-235","referer":null,"user_agent":"Mozilla/5.0 (Linux; U; Android 4.1.2; zh-cn; HUAWEI C8815 Build/HuaweiC8815) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30","source":"bzfun","tags":["request","bzfun","web"],"@timestamp":"2015-09-10T06:15:45.788Z","@version":"1","host":"d3a7f9b60ed3","type":"web"}
{"method":"HEAD","path":"/","format":"*/*","controller":"home","action":"index","status":200,"duration":4.39,"db":0.0,"ip":"50.112.95.211","route":"home#index","request_id":"af09925a-4e05-4fb2-bda2-9800307bf476","parameters":{},"current_user_id":null,"current_admin_id":null,"hostname":"10-10-13-235","referer":null,"user_agent":"NewRelicPinger/1.0 (776462)","source":"bzfun","tags":["request","bzfun","web"],"@timestamp":"2015-09-10T06:15:48.442Z","@version":"1","host":"d3a7f9b60ed3","type":"web"}
{"method":"GET","path":"/ad.html","format":"html","controller":"home","action":"ad","status":200,"duration":5.35,"view":4.53,"db":0.0,"ip":"113.109.148.94","route":"home#ad","request_id":"0846c71f-5a3d-40fc-8933-2a691258f909","parameters":{},"current_user_id":null,"current_admin_id":null,"hostname":"10-10-13-235","referer":null,"user_agent":"Mozilla/5.0 (Linux; U; Android 4.4; zh-cn; SUNVAN S899B Build/JDQ39) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30","source":"bzfun","tags":["request","bzfun","web"],"@timestamp":"2015-09-10T06:15:49.779Z","@version":"1","host":"d3a7f9b60ed3","type":"web"}
{"method":"GET","path":"/","format":"html","controller":"home","action":"index","status":200,"duration":3.47,"db":0.0,"ip":"106.120.121.154","route":"home#index","request_id":"404996f4-4048-4a56-bbc4-0aa0ab7986ae","parameters":{},"current_user_id":null,"current_admin_id":null,"hostname":"10-10-13-235","referer":null,"user_agent":"Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.2; .NET CLR 1.1.4322)","source":"bzfun","tags":["request","bzfun","web"],"@timestamp":"2015-09-10T06:15:49.902Z","@version":"1","host":"d3a7f9b60ed3","type":"web"}
{"method":"GET","path":"/","format":"*/*","controller":"home","action":"index","status":200,"duration":4.99,"db":0.0,"ip":"218.61.8.10","route":"home#index","request_id":"65241a8b-0ca6-4b38-817d-3a75268123f8","parameters":{},"current_user_id":null,"current_admin_id":null,"hostname":"10-10-13-235","referer":null,"user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.130 Safari/537.36 JianKongBao Monitor 1.1","source":"bzfun","tags":["request","bzfun","web"],"@timestamp":"2015-09-10T06:16:03.940Z","@version":"1","host":"d3a7f9b60ed3","type":"web"}
{"method":"GET","path":"/","format":"*/*","controller":"home","action":"index","status":200,"duration":3.83,"db":0.0,"ip":"61.150.91.55","route":"home#index","request_id":"18d6c264-5a68-4c24-acee-cea276b3361d","parameters":{},"current_user_id":null,"current_admin_id":null,"hostname":"10-10-13-235","referer":null,"user_agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.130 Safari/537.36 JianKongBao Monitor 1.1","source":"bzfun","tags":["request","bzfun","web"],"@timestamp":"2015-09-10T06:16:03.961Z","@version":"1","host":"d3a7f9b60ed3","type":"web"}
...
()
-------------------------------------------
Time: 2015-09-10 14:56:41
-------------------------------------------
{"method":"GET","path":"/rooms/19670/chats.app","format":"app","controller":"chats","action":"index","status":200,"duration":13.42,"view":0.76,"db":2.16,"ip":"180.212.73.70","route":"chats#index","request_id":"72743b17-06d4-417f-b359-36458ace53d1","parameters":{"client_id":"20230302","limit":"20","user_id":"3155","timestamp":"1441868193","access_token":"2e607b1f92f19e098251c2502dfedee4335b1411","sign":"89a25d9b8f44149b564886f96b6001b5","room_id":"19670"},"current_user_id":null,"current_admin_id":null,"hostname":"10-10-13-235","referer":null,"user_agent":"Mozilla/5.0 (Linux; U; Android 4.2.2; zh-cn; SM-G3818 Build/JDQ39) AppleWebKit/533.1 (KHTML, like Gecko) Version/4.0 Mobile Safari/533.1","source":"bzfun","tags":["request","bzfun","web"],"@timestamp":"2015-09-10T06:56:39.014Z","@version":"1","host":"d3a7f9b60ed3","type":"web"}
()
-------------------------------------------
Time: 2015-09-10 14:56:42
-------------------------------------------
()
